@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "variables";
/*
 base
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  background-color: $bg-color-secondary;
  background-image: radial-gradient(
    ellipse at 33% 10%,
    $bg-color-primary 0%,
    transparent 75%
  );
  position: relative;
}

/* 
    quote component
*/
.quote {
  min-width:60rem;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-header {
    padding: 0.2rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $quote-text-color;
    background-color: $quote-bg-color;
    font-size: 2rem;
    clip-path: polygon(1% 0, 12% 0, 14% 100%, 0 100%, 0 20%);
  }

  &-content {
    padding: 1rem;
    border: 1px solid$quote-bg-color;
    color: $quote-text-color;
    &-wrapper{
      min-height: 10rem;
    }
    &__text {
      font-size: 3rem;
      margin-bottom:2rem;
    }
    &__author {
      font-size: 2rem;
      text-align: center;
    }
  }
}

/* btn */
.btn-group {
  display: flex;
  justify-content: flex-end;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  color: $color-blue-light;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  &:hover {
    background: $color-blue-light;
    color: #fff;
    box-shadow: 0 0 5px $color-blue-light, 0 0 25px $color-blue-light,
      0 0 50px $color-blue-light, 0 0 100px $color-blue-light;
  }
  span {
    position: absolute;
    display: block;
    &:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, transparent, $color-blue-light);
      animation: moveRight 1s infinite;
    }
    &:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(to bottom, transparent, $color-blue-light);
      animation: moveDown 1s 0.25s infinite;
    }
    &:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(to left, transparent, $color-blue-light);
      animation: moveLeft 1s 0.5s infinite;
    }
    &:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(to top, transparent, $color-blue-light);
      animation: moveUp 1s 0.75s infinite;
    }
  }
}

/* btn animation */
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200%);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}
